@model ShopTARge22.Models.Coctails.CoctailViewModel
  
        <h2>Receipe for selected drink</h2>
        <h1>@Html.DisplayFor(model =>model.StrDrink)</h1>

        <hr />

        <dl class="row">
            <div class="form-group row">
                <label asp-for="IdDrink" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.IdDrink)

            </div>

            <div class="form-group row">
                <label asp-for="StrTags" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrTags)
            </div>

            <div class="form-group row">
                <label asp-for="StrVideo" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrVideo)
            </div>
            <div class="form-group row">
                <label asp-for="StrCategory" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrCategory)
            </div>
            <div class="form-group row">
                <label asp-for="StrIBA" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrIBA)
            </div>
            <div class="form-group row">
                <label asp-for="StrAlcoholic" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrAlcoholic)
            </div>

            <div class="form-group row">
                <label asp-for="StrGlass" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrGlass)
            </div>
            <div class="form-group row">
                <label asp-for="StrInstructions" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrInstructions)
            </div>
            <div class="form-group row">
                <label asp-for="StrDrinkThumb" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrDrinkThumb)
            </div>

            <div class="form-group row">
                <label asp-for="StrIngredient1" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrIngredient1)
            </div>
             <div class="form-group row">
                <label asp-for="StrIngredient2" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrIngredient2)
            </div>
            <div class="form-group row">
                <label asp-for="StrIngredient3" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrIngredient3)
            </div>
            <div class="form-group row">
                <label asp-for="StrIngredient4" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrIngredient4)
            </div>
            <div class="form-group row">
                <label asp-for="StrMeasure1" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrMeasure1)
            </div>
            <div class="form-group row">
                <label asp-for="StrMeasure2" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrMeasure2)
            </div>
            <div class="form-group row">
                <label asp-for="StrMeasure3" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrMeasure3)
            </div>
            <div class="form-group row">
                <label asp-for="StrMeasure4" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrMeasure4)
            </div>
            <div class="form-group row">
                <label asp-for="StrMeasure5" class="col-sm-2 col-form-label"></label>
                @Html.DisplayFor(model =>model.StrMeasure5)
            </div>
        </dl>

        @* <form method="get">
        <button asp-action="Index" asp-controller="weatherForecasts" class="btn btn-danger">Back</button>
        </form>*@

        <a asp-action="Index" asp-controller="Coctails" class="btn btn-danger">Back</a>

  
