@model IEnumerable<ShopTARge22.Models.RealEstates.RealEstateIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="realestates" type="submit" class="btn btn-primary">Create</a>
</div>


<div class="h1">
    Products
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col"> BuildingType</th>
                <th scope="col">SizeSqrM</th>
                <th scope="col"> RoomCount</th>
                <th scope="col">Address</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var realestates in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@realestates.BuildingType</td>
                    <td>@realestates.SizeSqrM</td>
                    <td>@realestates.RoomCount</td>
                    <td>@realestates.Address</td>
                    <td>
                        <a asp-action="details" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-outline-primary">Update</a>
                        <a asp-action="delete" asp-controller="realestates" asp-route-id="@realestates.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>


<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
<script src="~/assets/js/util.js" asp-append-version="true"></script>
<script src="~/assets/js/main.js" asp-append-version="true"></script>